<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleAllowMixedLocalizations</key>
        <true/>
        <key>CFBundleVersion</key>
        <string>0.6.32</string>
        <key>CFBundleShortVersionString</key>
        <string>0.6.32</string>
        <key>CFBundleIdentifier</key>
        <string>com.dragontamer8740.tits</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleExecutable</key>
        <string>TiTS-droid</string>
        <key>CFBundleName</key>
        <string>TiTS</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>DTCompiler</key>
        <string>com.apple.compilers.llvm.clang.1_0</string>
        <key>DTPlatformBuild</key>
        <string>13C75</string>
        <key>DTPlatformName</key>
        <string>iphoneos</string>
        <key>DTPlatformVersion</key>
        <string>9.2</string>
        <key>DTSDKBuild</key>
        <string>13C75</string>
        <key>DTSDKName</key>
        <string>iphoneos9.2</string>
        <key>DTXcode</key>
        <string>0720</string>
        <key>DTXcodeBuild</key>
        <string>7C68</string>
        <key>LSRequiresIPhoneOS</key>
        <true/>
        <key>MinimumOSVersion</key>
        <string>6.0</string>
        <key>NSMainNibFile</key>
        <string>MainWindow</string>
        <key>NSMainNibFile~ipad</key>
        <string>MainWindow-iPad</string>
        <key>CFBundleDisplayName</key>
        <string>TiTS</string>
        <key>UIStatusBarHidden</key>
        <true/>
        <key>UIViewControllerBasedStatusBarAppearance</key>
        <false/>
        <key>CTAspectRatio</key>
        <string>landscape</string>
        <key>UIInterfaceOrientation</key>
        <string>UIInterfaceOrientationLandscapeRight</string>
        <key>renderMode</key>
        <string>cpu</string>
        <key>CTRequestedDisplayResolution</key>
        <string>high</string>
        <key>DebugMode</key>
        <false/>
        <key>EnablePingback</key>
        <false/>
        <key>CTNamespaceURI</key>
        <string>http://ns.adobe.com/air/application/23.0</string>
        <key>CTAutoOrients</key>
        <false/>
        <key>CTInitialWindowTitle</key>
        <string>TiTS</string>
        <key>CTInitialWindowContent</key>
        <string>TiTS_AIR.swf</string>
        <key>CTMaxSWFMajorVersion</key>
        <string>34</string>
        <key>CFBundleSupportedPlatforms</key>
        <array>
            <string>iPhoneOS</string>
        </array>
        <key>UIDeviceFamily</key>
        <array>
            <string>1</string>
            <string>2</string>
        </array>
        <key>UIRequiredDeviceCapabilities</key>
        <array>
            <string>armv7</string>
            <string>opengles-2</string>
        </array>
        <key>CFBundleIconFiles</key>
        <array>
            <string>Icon.png</string>
            <string>Icon-Small.png</string>
        </array>
        <key>UISupportedInterfaceOrientations</key>
        <array>
            <string>UIInterfaceOrientationLandscapeRight</string>
            <string>UIInterfaceOrientationLandscapeLeft</string>
        </array>
        <key>Extensions</key>
        <array/>
        <key>CTAirSdkVersion</key>
        <string>23.0.0.257</string>
        <key>CTHideAneSymbols</key>
        <false/>
        <key>CTPushNotificationEnabled</key>
        <false/>
        <key>UIRequiresFullScreen</key>
        <true/>
    </dict>
</plist>
